<?xml version="1.0" encoding="iso-8859-15"?>
<!--
  ~ secupay Payment Module
  ~ @author    secupay AG
  ~ @copyright 2019, secupay AG
  ~ @license   LICENSE.txt
  ~ @category  Payment
  ~
  ~ Description:
  ~  Oxid Plugin for integration of secupay AG payment services
  -->

<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxshopsett">
            <SUBMENU id="secupay" cl="secupay_dyn" list="secupay_dyn_list" rights="malladmin">
                <TAB id="secupay_dyn_main" cl="secupay_dyn_main"/>
                <TAB id="secupay_dyn_splogin" cl="secupay_dyn_splogin"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
